body, html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: arial;
    background: #f7f7f7;
    color: #373737;
}

.wrapper
{
    width: 100%;
}

.header
{
    background: #373737;
}

.header__content
{
    padding: 5px;
}

.header__title
{
    display: block;
    padding: 5px;
    margin: 5px;
    color: #f7f7f7;
}

.main
{
    width: 90%;
    margin: 10px auto;
}

.link, .link:visited
{
    color: #111;
}

.link:hover
{
    text-decoration: none;
}