<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <p>Авторизация</p>
    <div th:if="${error}">
        Unable to login. Check password
    </div>
    <form method="POST" th:action="@{/login}" id="loginForm">
        <div>
            <input type="text" id="username" name="username" placeholder="Логин">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Пароль">
        </div>
        <div>
            <input type="submit" value="Log in">
        </div>
    </form>
</body>

</html>